.how-to-cite-us-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;

        div {
            align-items: start;
            margin: 2rem;
        }

        p {
            margin: 0;
            text-align: start;
        }
}