.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

label {
    margin: 0.5rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

input {
    border-radius: 0.5rem;
    width: 20%;
    padding: 0.75rem;
    border: 1px solid var(--color-asi-blue);
}